[submodule ".github/actions/build-push-action"]
	path = .github/actions/build-push-action
	url = https://github.com/docker/build-push-action.git
[submodule ".github/actions/login-action"]
	path = .github/actions/login-action
	url = https://github.com/docker/login-action.git
[submodule ".github/actions/setup-qemu-action"]
	path = .github/actions/setup-qemu-action
	url = https://github.com/docker/setup-qemu-action.git
[submodule ".github/actions/setup-buildx-action"]
	path = .github/actions/setup-buildx-action
	url = https://github.com/docker/setup-buildx-action.git
