name: Docker compose CI on linux

on:
  push:
    branches: [ master, kv/alpine ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: use docker-compose
      run: cd ./example && docker-compose -f docker-compose-alpine.yml -p docker-apisix up -d
